$gray: #f0f0f1;
$dark-gray: #c3c4c7;
$white: #ffffff;
$black: #1d2327;
$light-black: #2c3338;
$blue: #2271b1;
$dark-blue: #135e96;
$light-blue: #72aee6;
$text-color: #3c434a;
$red: #c33939;
$green: #1B8012;